<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  <style>
  </style>
  @Styles.Render("~/Content/bootstrap.css")
  @Styles.Render("~/Content/sidebar.css")
  @Styles.Render("~/Content/boxicons.min.css")

  @Scripts.Render("~/Content/js")
  @*@Scripts.Render("~/bundles/modernizr")*@
  @*<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>*@
  @Scripts.Render("~/bundles/jquery")
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>

</head>
<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="#" class="nav_logo">
        <i class='bx bx-layer nav_logo-icon'></i>
        <span class="nav_logo-name">ENSAS-EMPLOIS</span>
        </a>
        <div class="nav_list">
          <a href="/Emplois" class="nav_link active">
            <i class='bx bx-table nav_icon'></i>
            <span class="nav_name">Emplois</span>
          </a>
          <a href="/Professor" class="nav_link">
            <i class='bx bx-user nav_icon'></i>
            <span class="nav_name">Profesoors</span>
          </a>
          <a href="/Local" class="nav_link">
            <i class='bx bx-folder nav_icon'></i>
            <span class="nav_name">Locals</span>
          </a>
          <a href="/Cour" class="nav_link">
            <i class='bx bx-book-alt nav_icon'></i>
            <span class="nav_name">Cours</span>
          </a>
          <a href="/Filiere" class="nav_link">
            <i class='bx bx-bookmarks nav_icon'></i>
            <span class="nav_name">Filiere</span>
          </a>

          <a href="/Niveau" class="nav_link">
            <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
            <span class="nav_name">Niveau</span>
          </a>
          <a href="/Group" class="nav_link">
            <i class='bx bx-group nav_icon'></i>
            <span class="nav_name">Group</span>
          </a>
          <a href="/Semaine" class="nav_link">
            <i class='bx bx-time nav_icon'></i>
            <span class="nav_name">Semaine</span>
          </a>
        </div>
      </div> 
      <a href="#" class="nav_link"> 
      <i class='bx bx-log-out nav_icon'></i>
      <span class="nav_name">SignOut</span>
      </a>
    </nav>
  </div>
  <!--Container Main start-->
  <div class="height-100 bg-light">
   
    @RenderBody()
  </div>

    @RenderSection("scripts", required: false)
  </body>
</html>
