@model IEnumerable<GestionEmploi.Models.Cour>

@{
    ViewBag.Title = "ListCour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des Professeur</h2>
<div class="container">
    @Html.ActionLink("+ Add", "AddProfessor", null, null, new { @class = "btn btn-primary" })

    <br />
    <br />
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Responsable</th>
                    <th>Niveau</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>


                @foreach (var cour in ViewData["list"] as IEnumerable<GestionEmploi.Models.Cour>)
                {
                    <tr>

                        <td>@cour.Libelle</td>
                        <td>@cour.Responsable.FirstName @cour.Responsable.LastName</td>
                        <td>@cour.Niveau.libelle</td>

                        <td>
                            <a href="@Url.Action("DeleteCour",new { id = cour.CourId})" class="btn btn-danger">Delete</a>


                            <a href="@Url.Action("EditeCour",new { id = cour.CourId})" class="btn btn-success">Updtae</a>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>


