@model IEnumerable<GestionEmploi.Models.Group>
@{
    ViewBag.Title = "Ajouter_group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajouter_group</h2>


<div class="container">



    @Html.ActionLink("+ Add", "Cree_Group", null, null, new { @class = "btn btn-primary" })

    <br />
    <br />
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Libelle</th>              
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var group in ViewData["list"] as IEnumerable<GestionEmploi.Models.Group>)
                {
                    <tr>
                        <td> @group.GroupId</td>
                        <td> @group.Libelle</td>
                      

                        <td class="d-flex accordion-collapse ">
                            @using (Html.BeginForm("Delete", "Group", new { id = group.GroupId, FormMethod.Post }))
                            {
                                @Html.AntiForgeryToken()

                                <input class="btn btn-danger" type="submit" value="delete" />
                            }

                            @using (Html.BeginForm("Modifier_Gr", "Group", new { id = group.GroupId, FormMethod.Post }))
                            {
                                @Html.AntiForgeryToken()

                                <button class="btn btn-success">UPDATE</button>
                            }
                            <button class="btn btn-info">Info</button>
                        </td>
                    </tr>




                }

            </tbody>
        </table>
    </div>

</div>

